body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    max-width: 800px;
    margin: 20px auto;
}

.news-content {
    flex: 1;
    padding: 20px;
}

.news-image {
    flex-basis: 300px;
    margin-left: 20px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

a:hover {
    color: #555;
}


.news-content h1 {
    margin-bottom: 10px;
}

.news-content p {
    margin-bottom: 20px;
}


.news-content {
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.news-content::after {
    content: "";
    display: block;
    clear: both;
}

.news-image img {
    border-radius: 8px;
}


a {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #555;
}
