body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: yellow;
}

section {
    margin: 20px;
}


section {
    display: inline-block;
    width: 200px; 
    text-align: left;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    display: inline-block;
    width: 200px; 
    text-align: left;
    border: 1px solid #ccc; 
    padding: 10px;
    margin: 10px;
    border-radius: 8px; 
    box-sizing: border-box; 
}


section:hover {
    border-color: #555; 
}


section h3 {
    margin-top: 10px;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 8px; 
}


section p {
    margin-top: 10px;
}


section a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


section a:hover {
    color: #555;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 100px; 
}

h1 {
    margin: 0;
    padding: 10px;
    color: white;
}

nav {
    flex-grow: 1; 
    text-align: center;
}

nav ul {
    display: inline-block; 
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
